<h1>Burrito Time!</h1>

<main>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <div class="available-container float-right">
                    {{#each burritos}}
                    {{#unless this.devoured}}
                    <div>
                        <form action="/burritos/{{this.id}}?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-info burritoAvailable">
                                {{this.burrito_name}}</button>
                        </form>
                    </div>

                    {{/unless}}
                    {{/each}}
                </div>
            </div>
            <div>
                <img src="/assets/images/pusheen.png" />
            </div>

            {{!-- Consumed burritos go here --}}
            <div class="col s6 float">
                <div class="eaten-container float-right">
                    {{#each burritos}}
                    {{#if this.devoured}}
                    <div class='burritoEaten'>
                        <div>
                            <button type="button" class="btn btn-danger" disabled>{{this.burrito_name}}</button>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</main>



<div class="row">
    <div class="col s12">
        <div class="burrito-form-container text-center">
            <h2>Make your own burrito!</h2>
            <form action="/burritos/{{this.id}}?_method=PUT" method="POST">
                <input type="text" id="name" name="burrito_name" size="35" style="padding: 10px;"
                    placeholder="What kind???">
                <button type="submit" class="btn btn-info addBurritoButton">Make da burrito!</button>
            </form>
        </div>
    </div>
</div>